<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            background-color: black;
            color: aliceblue;
        }
        img {
            width: 20%;
            height: 20%;
            border-radius: 70px;
        }
    </style>
</head>
<body>
    
    <br>
    <div class="container-fluid mx-auto text-center">
            <br>

            <h1 class="text-center"><%= name %></h1>
            <br>
    <p class="text-center"><a href="/"><img src="<%= link %>"></a></p>
    <br>
    <br>
    <h3>Favorite Food:</h3>
    <p><%= food %></p>
    <br>
    <br>
    <h3>Age:</h3>
    <p><%= age %></p>
    <br>
    <br>
    <h3>Sleeping spots: </h3>
    <% for (s in spots) { %>
        <p><%= spots[s].location %></p>
    <% } %>
    </div>
    
</body>
</html>